#*
 *     This file is part of Diki.
 *
 *     Copyright (C) 2009 jtheuer
 *     Please refer to the documentation for a complete list of contributors
 *
 *     Diki is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     Diki is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 *     You should have received a copy of the GNU General Public License
 *     along with Diki.  If not, see <http://www.gnu.org/licenses/>.
 *#
<?xml version="1.0" encoding="utf-8"?>
<jnlp
    spec="$jnlpspec"
    codebase="http://www.pace-project.org/jnlp/"
    href="$outputFile">
  <information>
    <title>Diki</title>
    <vendor>Jan Torben Heuer, University of Muenster</vendor>
    <homepage href="http://www.pace-project.org"/>
    <description>Diki is a friend-to-friend tagging exchange system - highly extendable - and aims at providing a distributet knowlege infrastructure for exchangeing semantic data.</description>
    <offline-allowed/>
  </information>
  <security>
     <all-permissions/>
     PropertyPermission
  </security>
  <resources>
    <property name="jnlp.packEnabled" value="true"/>
	<property name="jnlp.versionEnabled" value="true"/>
    <java version="1.6+" href="http://java.sun.com/products/autodl/j2se"/>

     $dependencies
  
<!-- manually added security stuff -->
<extension name="Java Crypto from Bouncycastle.org" href="bouncycastle.jnlp"/>
  </resources>
  <application-desc main-class="$mainClass"/>
</jnlp>
